spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/datacrowd
    username: datacrowd
    password: datacrowd
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration

server:
  port: 8080

app:
  security:
    jwt:
      secret: "change-me-super-secret-key-change-me-1234567890"
      expiration: 3600000 # 1 час в миллисекундах